In [4]:
import sqlite3 as sql

connection = sql.connect("dabaseMovies.db")

pointer = connection.cursor()
pointer.execute("CREATE TABLE IF NOT EXISTS MOVIES( NAME TEXT, ACTOR TEXT, ACTRESS TEXT,DIRECTOR_NAME TEXT, YEAR INTEGER )")
pointer.execute("INSERT INTO MOVIES VALUES('Harry Potter','Daniel','Emma','David yates',2011)")
pointer.execute("INSERT INTO MOVIES VALUES('Tangled','Zachary','Mandy','Nathan Greno',2010)")
pointer.execute("INSERT INTO MOVIES VALUES('Cars','Owen','Bonnie','Brain Fee',2017)")
pointer.execute("INSERT INTO MOVIES VALUES('Onward','Chris','Octavia','Dan Scanion',2020)")
pointer.execute("INSERT INTO MOVIES VALUES('Spider-Man: No Way Home','Tom Holland','Zendaya','Jon Watts',2021)")

# Printing all the elements of the database 
print("************************Everything in the database************************")
allMovies = pointer.execute("SELECT * FROM MOVIES").fetchall()
for i in allMovies:
  title,actor,actress,director,releasedYear = i
  print("{t}\t\t{a}\t\t{ats}\t\t{d}\t\t{ry}".format(t=title,a=actor, ats=actress,d=director,ry=releasedYear))
  print("============================================================================================")

# In this query, we are printing only the details from the db where Tom Holland is the lead actor
print("************************Actor Query************************")
actorQuery = pointer.execute("SELECT * FROM MOVIES WHERE ACTOR = 'Daniel'").fetchall()
for i in actorQuery:
  title,actor,actress,director,releasedYear = i
  print("{t}\t\t{a}\t\t{ats}\t\t{d}\t\t{ry}".format(t=title,a=actor, ats=actress,d=director,ry=releasedYear))
  print("============================================================================================")

************************Everything in the database************************
Harry Potter		Daniel		Emma		David yates		2011
============================================================================================
Tangled		Zachary		Mandy		Nathan Greno		2010
============================================================================================
Cars		Owen		Bonnie		Brain Fee		2017
============================================================================================
Onward		Chris		Octavia		Dan Scanion		2020
============================================================================================
Spider-Man: No Way Home		Tom Holland		Zendaya		Jon Watts		2021
============================================================================================
************************Actor Query************************
Harry Potter		Daniel		Emma		David yates		2011
============================================================================================